{% extends 'base.html.twig' %}

{% block body %}

  <!-- Formulaire de connexion -->

  <!-- Route à laquelle renvoie le formulaire -->
  <form action="{{ path('security_login') }}" method="post">
    <div class="form-group-lr">
      <h2>Connexion</h2>

    <!-- Champs de saisie du formulaire -->
      <div class="form-group">

        <!-- Input adresse mail avec en nom le _username indiquant à symfony que c'est un champ à prendre en compte pour la connexion -->
        <label>Identifiant : </label><input placeholder="Adresse email" required name="_username" type="text" class="form-control">
        <br>
        <!-- Input mot de passe avec en nom le _password indiquant à symfony que c'est un champ à prendre en compte pour la connexion -->
        <label>Mot de passe : </label><input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
        <br>
      </div>
      <input type="checkbox" id="remember_me" name="_remember_me"/> Se souvenir de moi
    </div>

    <div class="form-group-lr">
      Vous n'avez pas encore de compte ? <a href="{{ path('security_registration') }}">Inscrivez vous !</a>
      <button type="submit" name="btn btn-success" class="regist">Se connecter</button>
    </div>

  </form>

{% endblock %}
