.gest {
  padding-bottom: 50px;
}

.topnav {
  text-align:center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 60px;
  position:relative;
}

.topnav ul {
  list-style:none;
  padding:0 20px;
  margin: 0;
  height: 60px;
}


.topnav ul li {
  display: inline-block;
}

.topnav ul li label {
  color:#000000;
  display:block;
  padding:0px 40px;
  text-decoration:none;
  float: left;
  height: 60px;
  line-height: 60px;
}

.topnav ul li:hover {
  color: #000000;
  text-decoration: underline;
}


.topnav ul li:hover > a{
    color: #000000;
}

.topnav ul li:hover > ul {
  display:block;
}

.topnav ul ul {
  border-top: solid 0.25px;
  padding:0;
  display:none;
  width: 100%;
  height: auto;
  padding-bottom: 75px;
  position: absolute;
  top: 60px;
  left: 0px;
  padding-left: -350px;
  background-color: #FFFFFF;
  z-index: 1;
}

.topnav ul ul li {
  width: 100%;
}


.topnav ul li ul li {
  font-weight: bold;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  font-size: 13px;
}

.blockcat{
  float: left;
}

.scat{
  width: 150px;
  font-size: 12px;
  float: left;
  text-align: left;
  padding-left: 45px;
}

.scat a{
  float: left;
  display: block;
}

body{
  font-family: 'Poppins', sans-serif;
  color: black;
}

a{
  color: black;
}

nav{
  /** background-color: #f6f6f6;**/
  padding-top:1%;
  text-align: center;
  /**padding-bottom: 4%;**/
}

nav a:hover{
  text-decoration: underline;
}


.input-text{
  /** background-color: #f6f6f6; **/
  border: none;
  border-bottom: 1px solid #000000;
  color: #323232;
  width: 135px;
  height: 27px;
  float: left;
  margin-top: 0.7%;
  margin-left: 5%;
}

.valider{
  background: url("../images/recherche.svg");
  background-repeat: no-repeat;
  border: 0;
  width: 25px;
  float: left;
  margin-top: 0.8%;
}

.logo{
  font-family: 'Coneria Script Demo', sans-serif;
  font-size: 50px;
  text-decoration: none;
  margin-left: -5%;
}

.logo:hover{
  text-decoration: none;
}

.compte{
  display: inline-block;
  text-decoration: none;
  float: right;
  width: 200px;
  padding-top: 25px;
}

.compte a{
  text-decoration: none;
  padding-right: 40px;
}

.compte img{
     width: 15%;
}

.topnav{
    margin-top: 3%;
}

.topnav a{
  text-decoration: none;
  margin-left: 3%;
}




/**---------------------------------------accueil---------------------------------------**/

/**-----effet images hommes femmes accueil-----**/

.slide{
  height: 50px;
}

.slide_container{
     width: 85%;
     margin: auto;
     margin-top: 5%;
}


#infinite-slider2{
  height: 300px;
}

/**-----effet images hommes femmes accueil-----**/

  .col-md-4, .col-sm-6{width: 470px; margin-left: 5%;margin-right: 5%; display: inline-block;}
  .box1 img,.box1:after,.box1:before{width:100%;transition:all .3s ease 0s}
  .box1:after,.box1:before{content:""}
  .box1{overflow:hidden}
  .box1 .title{letter-spacing:1px}
  .box1 .icon,.box1 .title{margin:0;position:absolute}
  .box1{position:relative; margin-bottom: 200px;}
  .box1:after,.box1:before{height:705px;background:rgba(0,0,0,.5);position:absolute;top:0;left:0;z-index:1;transform-origin:100% 0;transform:rotateX(90deg)}
  .box1:after{top:auto;transform-origin:0 100%}
  .box1:hover:after,.box1:hover:before{transform:rotateZ(0)}
  .box1 img{height:auto;transform:scale(1)}
  .box1:hover img{filter:drop-shadow(50%);}
  .box1 .title{font-size:19px;font-weight:600;color:#fff;text-transform:uppercase;text-shadow:0 0 1px #004cbf;bottom:10px;left:10px;opacity:0;z-index:2;transform:scale(0);transition:all .5s ease .2s}
  .box1:hover .title{opacity:1;transform:scale(1)}


  .presentationHF{
       margin-top:5%;
       text-align: center;
 }

/**---------------------------------------login / register---------------------------------------**/

.connexion h1{
     text-align: center;
}

.form-group input{
     height: 20px;
     font-size: 15px;
     text-align: center;
     margin-bottom: 2%;
}


/**---------------------------------------Panier---------------------------------------**/

.panier{
     text-align: center;
     font-weight: normal;
     text-decoration: underline;
     margin-bottom: 2%;
     font-size: 35px;
}


.produit_panier{
     display: flex;
     flex-wrap: wrap;
     flex: 1 100%;
     width: 70%;
     margin: auto;
     text-align: left;
     font-size: 20px;
}

.produit_panier h2{
     text-align: left;
     font-size: 20px;
}

.produit_panier div{
     width: 25%;
     padding-bottom: 2%;
}

.produit_panier img{
     max-width: 25%;
}

.panier-total{
     text-align: center;
     font-size: 25px;
}


/**---------------------------------------produit---------------------------------------**/

.filtre{
    display: inline-block;
    width: 20%;
    border-right: solid 1px;
    height: 600px;
}

.filtre label{
    padding-left: 40px;
}

.filtre select{
     margin-bottom: 10px;
     border-radius: 5px;

}

.aff_product{
     display: inline-block;
     width:75%;
     vertical-align: top;
     margin: auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 70px;
}

.product-card {
     text-align: center;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     padding: 0%;
     flex: 1 30%;
     background-color: #FFF;

}

.load{
     display: none;
}

.noContent{
  color: black !important;
  background-color: transparent !important;
  pointer-events: none;
}

.product-image img {
    width: 200px;
}

.product-info{
    margin-top: -25px;
    font-size:20px;
}




#loadmore {
    margin: 5px auto;
    padding: 8px 0;
    width: 15%;
    border-radius: 10px;
    text-align: center;
    color: #000000;
    display: block;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
}

#loadmore:hover {
    background: #f6f6f6;
}

/**---------------------------------------affichage du détail d'un produit---------------------------------------**/

.content{
     padding-bottom: 5%;
}

.delimitation{
    width: 70%;
    height: 1px;
    margin: 0px auto;
    border-top: 1px solid #9DA6A7;
}

.titre-img{
     padding-bottom: 10%;
}

.titre-img .mosaique{
  width: 15%;
  vertical-align: middle;
}

.titre-img .petit{
  max-width: 60%;
}

.titre-img .principale{
  vertical-align: middle;
  width: 45%;
  margin-right: -50px;
  margin: 0;
}

.titre-img .principale #grosPlan{
  max-width: 75%;
  text-align: center;
}

.titre-img .nomPrix{
  width: 30%;
  vertical-align: top;
}

.titre-img #marque{
     text-align: inherit;
     font-size: 20px;
     font-weight: bold;
     margin-right: 15px;
}

.titre-img #modele{
     text-align: inherit;
     font-size: 20px;
     font-weight: normal;
}

.titre-img #prix{
  font-size: 25px;
  display: block;
  margin-bottom: 50px;
}

.titre-img #couleur{
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;

}

.titre-img p{
     display:inline-block;
     font-size:35px;
}

.titre-img a{
     font-size:35px;
     text-decoration: none;
}
.titre-img div{
     width: 45%;
     display :inline-block;
}

.choixCouleur{
  margin-left: 75px;
  display: inline-block;
  vertical-align: middle;
}

.rond {
  display: none;
}

.choixCouleur .button {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 50px;
  margin: 15px;
  cursor: pointer;
}

.button span {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #eeeeee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: ease .3s;
}

.button span:hover {
  padding: 10px;
}

.orange .button span {
  background: #FF5722;
}

.amber .button span {
  background: #FFC107;
}

.lime .button span {
  background: #8BC34A;
}

.layer {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  /*transition: ease .3s;*/
  z-index: -1;
}

.orange input:checked ~ .layer {
  background: #F4511E;
}

.amber input:checked ~ .layer {
  background: #FFB300;
}

.lime input:checked ~ .layer {
  background: #7CB342;
}

.nomPrix .ajoutPanier {
  margin-top: 100px;
  background-color:#DD985C;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nomPrix .ajoutPanier{
  color: white;
  font-size: 15px;
}

.detail-table{
     padding-top: 5%;
}
.detail-table div{
     margin-left: 2%;
}

.detail-table h3{
     font-size: 20px;
}

.detail-table p{
     font-size: 15px;
     margin-left: 2%;
}


.desProd{
  margin-bottom: 80px;
}

table{
  border: 2px solid #9DA6A7;
  width: 50%;
  height: 300px;
  text-align: left;
  border-collapse: collapse;
  font-size: 15px;
  margin-left: 2%;
}

table td, table th {
  padding: 0%;
}

table th{
     font-weight: bold;
     padding-left: 10px;
}

table tr:nth-child(odd) {
  background: #9DA6A7;
}





/**---------------------------------------Pages de gestion du site---------------------------------------**/

/**----------------------accueils----------------------**/

h2{
     text-align: center;
     font-size: 250%;
     font-weight: normal;
}

.gestion{
     text-align: center;
     margin-bottom: 5%
}
.gestion h3{
     font-size: 150%;
     padding-bottom: 25px;
}

.retour_arriere{
     width: 3%;
     position: absolute;
}

form{text-align: center;}

#nomSlider input[type=text]{
     height: 50px;
     font-size: 30px;
     text-align: center;
}

form input[type=submit]{
     text-align: center;
     margin-bottom: 50px;
     height: 30px;
     font-size: 20px;
}

form input[type=file]{
     text-align: center;
     height: 30px;
     font-size: 20px;
}

form p{
     font-size: 30px;
}



/**----------------------créer slider----------------------**/

.groupeImg{
     text-align: center;
     width: 30%;
     display: inline-block;
     padding-bottom: 5%
}

.groupeImg label{
     font-size: 25px;
}

.groupeImg img{
     max-width: 75%
}

.creer{
     text-align: center;
     margin-bottom: 50px;
}

.creer input{
     margin-top: 1%;
     width: 10%;
}

/**----------------------modifier slider----------------------**/

.groupeSlider{
     text-align: center;
     margin: 1%;
     font-size: 25px;
}



/**----------------------Ajout Images slider----------------------**/

.ajoutImg{
     text-align: center;
     margin: 2%;
}

/**----------------------Vitesse slider----------------------**/

.changerVitesse{
     text-align: center;
     margin: 2%;
}

/**-----------------------------------------------------------------------------------------------------**/


/**---------------------------------------Footer---------------------------------------**/

footer{
     margin-top: 5%;
     padding-top:100px;
     height:650px;
     background-color:#473130;
     text-align: center;
}

footer img{
     max-width:100%;
     margin-top:-130px;
}

.footer_div{
     padding-bottom:300px;

}

.footer_info{
     float : left;
     display: inline-block;
     margin-left:5%
}

.footer_info a{
     text-decoration : none;
     text-align: left;
     color : white;
}

.footer_titre{
     list-style : none;
     font-weight: bold;
     color : white;
}

.footer_info li{
     list-style : none;
}


.footer_newsletter label{
     color : white;
     font-family: 'Playfair Display', serif;
     font-size:35px;
}

.footer_email_nl{
     width:250px;
     height:44px;
}

.footer_bouton_nl{
     color: white;
     text-transform: none;
     background: #DD985C;
     border-radius: 0;
     border: none;
     padding: 0 20px;
     height: 50px;
     line-height: 50px;
     font-weight: 600;
     min-width: 130px;
     margin-left:-4px;
}
