{% extends 'base.html.twig' %}

{% block title %}Information Livraison{% endblock %}

{% block body %}

    <h1 style="text-align: center">Information Livraison </h1><!--Formulaire pour trouver un transporteur en fonction de l'adresse, du poid...-->

    <form style="text-align: center" action="cotation" method="post">
        <p>Pays<br>
        <input type="text" name="country" placeholder="FR" value="FR">
        <br>
        Adresse<br>
        <input type="text" name="adress" placeholder="15 rue marsollier" value="15 rue marsollier">
        <br>
        Code postale<br>
        <input type="text" name="zipcode" placeholder="75002" value="75002">
        <br>
        Ville<br>
        <input type="text" name="city" placeholder="PARIS" value="PARIS">
        <br>
        Date livraison<br>
        <input type="text" name="collection_date" placeholder="2019-03-25" value="2019-03-25">
        <br>
        Valeur colis<br>
        <input type="text" name="colis_valeur" placeholder="48.50" value="48.50">
        <br>
        Poids colis<br>
        <input type="text" name="colis_poids" placeholder="2" value="2">
        <br><br>
        <button style="height:40px" type="submit">Faire cotation</button></p>
        

{% endblock %}
