{% extends 'base.html.twig' %}

{% block body %}


<!-- Slideshow container -->
  <div id="infinite-slider2">

    {% for fic in fichiers %}
      <!-- Full-width images with number and caption text -->
      <div>
        <img src="{{ asset(fic) }}" alt="{{ asset(fic) }}">
      </div>
    {% endfor %}

  </div>
  <br>
  <br>


  <script src="js/infiniteSlider2.js"></script>
  <script src="js/call.js.php"></script>
  <script src="js/jquery-3.2.1.js"></script>

<!--__________________________________________________________________________Fin slider___________________________________________________________________-->


<div class="presentationHF">

          <div class="col-md-4 col-sm-6">
              <a href="{{ path('boreal/femmes')}}">
                <div class="box1">
                  <img src="https://images.unsplash.com/photo-1524386189627-88c26ac1cc69?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0483f41b27d4e19df782f8908576402e&auto=format&fit=crop&w=600&q=60" alt="" class="img-thumbn">
                  <h3 class="title">Femme</h3>
                </div>
              </a>
          </div>

          <div class="col-md-4 col-sm-6">
              <a href="#">
                <div class="box1">
                    <img src="https://marketplace.canva.com/MABO91DDbGQ/1/thumbnail_large/canva-urban-business-man-talking-on-smart-phone-MABO91DDbGQ.jpg" alt="" class="img-thumbn">
                    <h3 class="title">Homme</h3>
                </div>
              </a>
          </div>

        <!---->

        <!-- <div style="border:solid 1px; width:40%; display: inline-block;">
            <a href="#"><img style="max-width:50%; position:relative; z-index:1;" src="https://images.unsplash.com/photo-1524386189627-88c26ac1cc69?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0483f41b27d4e19df782f8908576402e&auto=format&fit=crop&w=600&q=60" alt=""></a>
            <label style="position:absolute; z-index:10; background:transparent;">Femmes</label>
        </div>

        <div style="border:solid 1px; width:40%; display: inline-block;">
            <a href="#"><img  style="max-height:300px;" src="https://marketplace.canva.com/MABO91DDbGQ/1/thumbnail_large/canva-urban-business-man-talking-on-smart-phone-MABO91DDbGQ.jpg" alt=""></a>
        </div> -->
</div>

{% endblock %}


{# block script %}

    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
    </script>
{ endblock #}
