{% extends 'base.html.twig' %}

{% block body %}

  <h3>Interface sur laquelle plusieurs fonctionnalités en rapport avec les produits seront disponibles</h3></br></br>

  <button type="button" class="btn btn-primary btn-lg"><a href="{{ path('creationProduit')}}">Création produit</a></button>

{% endblock %}
