{% extends 'base.html.twig' %}

{% block body %}

  <h2>Interface Administrateur</h2></br>

  <div class="gestion">

       <h3><a href="{{ path('gestionProduits')}}">Gestion des produits</a></h3>

       <h3><a href="{{ path('gestionSlider')}}">Gestion du panneau déroulant</a></h3>

       <h3><a href="{{ path('gestionClients')}}">Gestion des clients</a></h3>

  </div>


{% endblock %}
