{% extends 'base.html.twig' %}

{% block body %}

  <h2>Interface de Mme Praud</h2></br>

  <h3><a href="{{ path('gestionProduits')}}">Gestion des produits</a></h3>

  <h3><a href="{{ path('gestionSlider')}}">Gestion du slider</a></h3>

  <h3><a href="{{ path('gestionClients')}}">Gestion des clients</a></h3>

{% endblock %}
