{% extends 'base.html.twig' %}

{% block body %}

  <h2>Gestion des clients</h2>
  
  <div class="gestion">

      <h3><a href="{{ path('creationProduit')}}">Création produit</a></h3>

  </div>


{% endblock %}
