{% extends 'base.html.twig' %}

{% block body %}

  <h2>Sélectionner le slider obsolète</h2></br>

  <form action="" id="suppSlider" method="post">

    {% for slider in slidersAAfficher %}
      <div class="groupeSlider">
        <input type="radio" id="casePour{{ slider }}" name="cheminSlider" value="{{ slider }}">
        <label for="casePour{{ slider }}">{{ slider }}</label>
      </div>
    {% endfor %}

    <br><br>
    <div id="bouton">
      <input type="submit" value="Valider">
    </div>

  </form>


{% endblock %}
