{% extends 'base.html.twig' %}

{% block body %}

<input class="retour_arriere"type="image" src="{{ asset('images/retour.png') }}" onclick="javascript:history.back()">

  <h2>Changer la vitesse du slider</h2></br>

  <form class="changerVitesse" action="" id="changVitesse" method="post">

    <p>Temps (en seconde) :</p>
    <input type="text" size="5" name="vitesse" value="{{ vitesseActuelle }}">
    <br><br>
    <input type="submit" value="Valider" />

  </form>

{% endblock %}
